# =========================
# Virtual environment
# =========================
venv/
.venv/
env/

# =========================
# Database
# =========================
*.db
*.sqlite3

# =========================
# Excel files locais
# =========================
*.xlsx

# =========================
# Python cache
# =========================
__pycache__/
*.py[cod]

# =========================
# Logs
# =========================
*.log

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Sistema
# =========================
.DS_Store
Thumbs.db
